body {
    font-family: 'Sunflower', sans-serif;
    text-align: center; 
    background: url(images/wallpaper5.jpg); 
}

.navbar-nav.navbar-center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 10%;
    
}

nav{
    font-size: 1.5em;
}

h1 {
    font-size: 4em;
    padding-top: 20%;
    padding-bottom: 20%;
    color: white;  
    text-shadow: 4px 4px 4px #000000; 
}

.gallery {
    background: url(images/wallpaper4.jpg);
    padding-bottom: 5%;
}


h2 {
    font-size: 4em;
    padding-top: 5%;
    padding-bottom: 5%;
}

p{
    color: darkgoldenrod;
    font-size: 2em;
}

h3 {
    font-size: 2.8em;
}

h3, h4, h5, h6 {
    padding-top: 5%;
    color: white;  
    text-shadow: 4px 4px 4px #000000; 
}

h4, h6{
    font-size: 2.5em;
}

h5 {
    font-size: 2em;
}

img{
    padding:5%;

}

.frame{
    position: relative;

}

.frame .text{
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 25%; 
    font-size: 2em;

}

span{
    color: lightgray;
    font-size: 2em;
    text-shadow: 4px 4px 4px #000000;
}

p.about{
    margin-top: 5%;
    padding: 0;
    background-color: rgba(201, 70, 70, 0.15);
    color: white;
    display: none; 
}

p.bio{
    margin-top: 5%;
    padding: 0;
    background-color: rgba(201, 70, 70, 0.15);
    color: white;
}


.form-container{
    padding: 5%;
    display: none;
}

h6.email{
    padding-bottom: 0%;
    font-style: italic;
    text-shadow: 4px 4px 4px #000000;   
}

a{
    color: white;
}

a:hover{
    color: rgba(201, 70, 70);
}

footer{
    padding-bottom: 5%;
}