body {
    font-family: 'Sunflower', sans-serif;
    text-align: center;
    background: url(../images/wallpaper4.jpg); 
    margin: 0;
    padding: 0;
}

.navbar-nav.navbar-center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 10%;
    overflow: hidden; 
}

nav{
    font-size: 1.6em;
}

.navbar a:hover, .subnav:hover {
    background-color: rgb(243, 239, 239);
}

.subnav-content {
    display: none;
    position: absolute;
    background-color: rgb(243, 239, 239);
    z-index: 1;   
}
    
.subnav-content a {
color: rgb(92, 2, 2);
text-decoration: none;
padding: 10px;
}

.subnav-content a:hover {
background-color: #eee;
color: black;
}

.subnav:hover .subnav-content {
display: block;
}

h3 {
    font-size: 2.8em;
    padding-top: 5%;
    color: rgb(167, 2, 2);  
    text-shadow: 1px 1px 1px #000000; 
    text-align: center;
}

.diagram-card{
    padding-top: 50px;
}

.imgBox{
    width: 600px;
    margin: 50px auto 20px
   
}

.imgBox img{
    width: 100%;
    border: 1px solid #000000;
    box-shadow: 0 5px 25px rgba(0, 0, 0, .75);
    padding: 5%;

}

ul.thumbnail{
    margin: 0 auto;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

#thumbnail{
    list-style: none;
    
}

li{
    padding: 10px;
}
li img{
    border: 1px solid #7c7777;
    box-shadow: 0 5px 25px rgba(0, 0, 0, .25);
    padding: 2%;
}

.desc{
    text-align: center;
}

.row-2 {
    display: flex;
    align-items: center;
    justify-content: center;
  }